<h1>`mut` helper</h1>
<h3>[{{name}}]</h3>

<div class="examples">
  <div>
    <h3>HBS + JS</h3>

    <input
      value={{name}}
      oninput={{action 'updateName' value='target.value'}}
    />
  </div>
  <div>
    <h3>HBS</h3>

    
    <input
      value={{name}}
      oninput={{action (mut name) value='target.value'}}
    />
  </div>
</div>






















<div class="links">
  <h2>Useful links:</h2>
  <ul>
    <li>
      <a href="https://www.emberjs.com/api/ember/3.2/classes/Ember.Templates.helpers/methods/mut?anchor=mut">mut helper docs</a>
    </li>
  </ul>
</div>
